<h3>ng-select, ng-select-option</h3>
<blockquote>
  Two-way binding between <code>ng-select</code> model and <code>ng-select-option</code> values.
  <br><br>
  Click on images to change the selection. <br>
  Modify the selection to see the image reaction.
</blockquote>
<hr>

<!-- setup selection display/input input:text -->
<p class="lead">
  selection: <input type="text" class="form-control" ng-model="selection">
</p>

<!-- bind scope.selection to ngModel and enable ngSelect -->
<div class="row example" ng-select ng-model="selection">
  <!-- five images with number as option value -->
  <!-- add "selected" class on option selected -->
  <img class="img-polaroid img-circle"
       ng-repeat="num in [1, 2, 3, 4, 5]"
       ng-src="http://lorempixel.com/100/100/sports/{{ num }}"
       ng-select-option="num"
       select-class="{'selected': $optSelected}">
</div>
