<h3>select-style</h3>
<blockquote>
  Present the exact same functionality with <code>ng-style</code>, but with the additional local scope applied with <code>$index, $value, $selected</code> varaibles to increase the usage flexibility.
  <br><br>
  This optional directive is applicable to both <code>ng-select</code> and <code>ng-select-option</code>, each stands for global and option specific configuration.
</blockquote>
<hr>

<p class="lead">selection: {{ selection }}</p>
<div class="row example" ng-select="selection" select-style="{'opacity': 0.2 * $optValue}">
  <div class="span12">
    <img class="img-polaroid img-circle" ng-select-option="{{ num }}" 
         select-class="{'selected': $optSelected}"
         ng-repeat="num in [1, 2, 3, 4, 5] track by $id($index)" 
         ng-src="http://lorempixel.com/100/100/sports/{{ num }}">
  </div>
</div>
