<h3>select-modifiers</h3>
<blockquote>
  Enables <code>ng-select</code> to support windows-like selection, each enable with specific modifier key.
</blockquote>
<hr>

<!-- display of selection -->
<p class="lead">selection: {{ selection }}</p>

<!-- bind scope.selection to ngSelect model -->
<!-- add "selected" class on option selected -->
<!-- enable multiple selection -->
<div class="row example multiple" 
     ng-select="selection" 
     select-class="{'selected': $optSelected}" 
     select-multiple
     select-modifiers="ctrl">

  <div class="span12">

    <!-- five images with number as option value -->
    <img class="img-polaroid img-circle" 
         ng-repeat="num in [1, 2, 3, 4, 5]" 
         ng-src="http://lorempixel.com/100/100/sports/{{ num }}"
         ng-select-option="{{ num }}">
  </div>
</div>
